/* -------------------mobile version-------------- */
@media screen and (min-width: 375px) {
  .body {
    margin: 0%;
    width: 100%;
    background-color: #e5e5e5;
    overflow-x: hidden;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 3rem;
    width: 24.44rem;
  }

  .logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    width: 4.75rem;
    height: 1.25rem;
    color: #6070ff;
  }

  .nav-bar {
    margin: 20px;
    width: 1.1rem;
    height: 0.75rem;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24.4rem;
    height: 44.88rem;
    background-repeat: no-repeat;
    background-image: url('header-shapesmobile.png');
    background-color: #fff;
    border-bottom-left-radius: 60px;
    position: absolute;
    top: 47px;
  }

  .greet {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    width: 20.44rem;
    height: 9.37rem;
    margin: 20px;
    order: 0;
    color: #172b4d;
  }

  .text {
    width: 20.43rem;
    height: 9.12rem;
    font-family: sans-serif, 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 20px;
    order: 1;
    color: #344563;
  }

  .link {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    text-decoration: none;
    order: 2;
    color: #7f8cff;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 170.17px;
    flex: none;
    flex-grow: 0;
    list-style: none;
    margin-left: -25px;
    gap: 8px;
    order: 3;
  }

  .twitter :hover {
    color: #505f79;
    opacity: 0.5;
  }

  .linkedin :hover {
    color: #505f79;
    opacity: 0.5;
  }

  .github :hover {
    color: #505f79;
    opacity: 0.5;
  }

  .medium :hover {
    color: #505f79;
    opacity: 0.5;
  }

  .angellist :hover {
    color: #505f79;
    opacity: 0.5;
  }

  /* -------------cards-------------- */

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    height: 174.25rem;
    width: 23.44rem;
    margin-top: 720px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding: 16px;
    height: 34.5rem;
    width: 20.44rem;
    margin: 70px 24px;
    gap: 12px;
    background-color: #fff;
  }

  .image {
    width: 18.44rem;
    height: 13.7rem;
    border-radius: 8px;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    font-style: normal;
    width: 18.44rem;
    height: 2.25rem;
    line-height: 44px;
    margin-top: 0;
    color: #172b4d;
  }

  .frame {
    margin: -30px 0 0 -50px;
    width: 14.75rem;
    height: 2rem;
    padding: 8px;
  }

  .info {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
    height: 4.75rem;
    width: 18.44rem;
    margin-top: 0%;
  }

  .languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: -20px 0 0 -90px;
    padding: 10px;
    width: 12.68rem;
    height: 1.5rem;
    gap: 8px;
  }

  .Html {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ebebff;
    color: #6070ff;
    width: 53px;
    height: 24px;
    border-radius: 8px;
    padding: 4px 12px;
  }

  #Html {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    height: 16px;
    width: 29px;
    letter-spacing: 0.03rem;
    line-height: 16px;
    color: #6070ff;
  }

  .Css {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background-color: #ebebff;
    padding: 4px 12px;
    width: 45px;
    height: 24px;
  }

  #Css {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03rem;
    color: #6070ff;
    height: 16px;
    width: 21px;
  }

  .Js {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ebebff;
    border-radius: 8px;
    padding: 4px 12px;
    height: 24px;
    width: 89px;
  }

  #Js {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03rem;
    height: 16px;
    width: 65px;
    color: #6070ff;
  }

  .button {
    box-sizing: border-box;
    border: 1px solid #6070ff;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    height: 3rem;
    width: 7.94rem;
    bottom: 10px;
    margin-left: -170px;
    gap: 10px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03rem;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    color: #396df2;
  }

  .button:hover {
    color: #fff;
    background-color: #6070ff;
  }

  .button:active {
    color: #fff;
    background-color: #2230d2;
  }

  /* -------------about me------------------ */

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-top-right-radius: 50px;
    width: 24.44rem;
    height: 79.95rem;
    top: 3565px;
    gap: 24px;
  }

  .About {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 52px;
    color: #172b4d;
    width: 23.44rem;
    height: 6.3rem;
    margin-left: 60px;
  }

  .text-2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 7.13rem;
    width: 20.44rem;
    margin-top: -20px;
    color: #344563;
  }

  .link-2 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin: 20px 0 0 -109px;
    text-decoration: none;
    color: #7f8cff;
  }

  .icons-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    list-style: none;
    margin: -10px 0 0 -150px;
  }

  .Button {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    height: 24px;
    width: 138px;
    background-color: #fff;
    color: #396df2;
    cursor: pointer;
  }

  .Button:hover {
    color: #fff;
    background-color: #6070ff;
    border: 1px solid #6070ff;
  }

  .Button:active {
    color: #fff;
    background-color: #2230d2;
    border: 1px solid #6070ff;
  }

  #resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #6070ff;
    padding: 12px;
    margin-left: -170px;
    gap: 10px;
    width: 10.3rem;
    height: 3rem;
  }

  /* ------------languages----------- */

  .skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.4rem;
    height: 29rem;
    gap: 12px;
    margin-top: 50px;
  }

  .lang {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    position: absolute;
    height: 24px;
    margin-left: -220px;
    color: #000;
  }

  .down {
    position: absolute;
    width: 0.87rem;
    height: 0.5rem;
    left: 285px;
    margin-top: 30px;
    color: #5e6c84;
  }

  .js-frame {
    position: absolute;
    width: 18.9rem;
    height: 4.16rem;
    left: 25px;
    top: 690px;
    list-style: none;
    border-radius: 8px;
    background-color: #f7f7f9;
  }

  .js-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    list-style: none;
    top: 9.5px;
    left: 10px;
  }

  .js-txt {
    display: flex;
    align-items: center;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    height: 24px;
    left: 70px;
    top: 10px;
    color: #253858;
  }

  .html-logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    list-style: none;
    top: 10px;
    left: 10px;
  }

  .html-txt {
    display: flex;
    align-items: center;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    height: 24px;
    top: 11px;
    left: 70px;
    color: #253858;
  }

  .html-frame {
    position: absolute;
    width: 18.9rem;
    height: 4.16rem;
    top: 790px;
    left: 25px;
    list-style: none;
    border-radius: 8px;
    background-color: #f7f7f9;
  }

  .css-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    list-style: none;
    top: 10px;
    left: 10px;
  }

  .css-txt {
    display: flex;
    align-items: center;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    height: 24px;
    top: 10px;
    left: 70px;
    color: #253858;
  }

  .css-frame {
    position: absolute;
    width: 18.9rem;
    height: 4.16rem;
    top: 890px;
    left: 25px;
    list-style: none;
    border-radius: 8px;
    background-color: #f7f7f9;
  }

  .framewrk {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 20.4rem;
    height: 4.5rem;
  }

  .frmwk-txt {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
    position: absolute;
    top: 1010px;
    height: 24px;
    left: 30px;
    right: 78px;
    color: #000;
  }

  .arrow {
    position: absolute;
    top: 1035px;
    right: 66px;
  }

  .separator {
    position: absolute;
    list-style: none;
    width: 20.4rem;
    height: 0.1rem;
    color: #dfe1e6;
    top: 1070px;
    left: 30px;
  }

  .SkillS {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 327px;
    height: 72px;
  }

  .skill-txt {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    list-style: none;
    position: absolute;
    height: 24px;
    top: 1090px;
    left: 30px;
    right: 78px;
    color: #000;
  }

  .arrow2 {
    position: absolute;
    top: 1115px;
    right: 66px;
  }

  .separator2 {
    position: absolute;
    list-style: none;
    width: 375px;
    height: 1px;
    color: #dfe1e6;
    top: 1145px;
    left: 30px;
  }

  /* -----------contact form--------- */

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 23.4rem;
    top: 4800px;
    height: 48.68rem;
    border-top-left-radius: 50px;
    background-color: #6070ff;
    background-image: url(header-shapesmobile.png);
    list-style: none;
  }

  .contact-me {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    position: absolute;
    width: 50.1rem;
    height: 3.5rem;
    color: #fff;
    top: 100px;
    left: 60px;
  }

  .contact-txt {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    text-align: center;
    position: absolute;
    height: 6.37rem;
    width: 20.4rem;
    top: 165px;
    color: #fff;
  }

  .name {
    position: absolute;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 3rem;
    width: 18.4rem;
    top: 340px;
    margin-left: -150px;
    list-style: none;
  }

  #name {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .email {
    position: absolute;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 3rem;
    width: 18.4rem;
    top: 420px;
    margin-left: -150px;
    list-style: none;
  }

  #email {
    display: flex;
    align-items: center;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .msg {
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    height: 10.6rem;
    width: 18.4rem;
    top: 500px;
    margin-left: -150px;
    list-style: none;
    color: #b3bac5;
  }

  #msg {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: black;
    list-style: none;
  }

  .gint {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    position: absolute;
    width: 9.1rem;
    height: 3rem;
    left: 24px;
    border-radius: 8px;
    background-color: #fff;
    top: 695px;
    margin-left: 15px;
    cursor: pointer;
  }

  .gint:hover {
    opacity: 0.7;
    color: #fff;
    background-color: #fff;
    border: 1px solid #6070ff;
  }

  .gint:active {
    opacity: 1;
    color: #fff;
    background-color: #789bf2;
    border: 1px solid #6070ff;
  }

  #gint {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #6070ff;
  }
}
