/* -------------------mobile version-------------- */

.body {
  margin: 0%;
  background-color: #e5e5e5;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 3rem;
  width: 100%;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin: 20px;
  width: 4.75rem;
  color: #6070ff;
  height: 1.25rem;
}

.nav-bar {
  margin: 20px;
}

.navlist {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 44.88rem;
  background-image: url('header-shapesmobile.png');
  background-color: #fff;
  background-repeat: no-repeat;
  border-bottom-left-radius: 60px;
  top: 46px;
}

.greet {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  width: 327px;
  height: 9.37rem;
  margin: 20px;
  order: 0;
  color: #172b4d;
}

.text {
  width: 20.43rem;
  height: 9.12rem;
  font-family: sans-serif, 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 20px;
  order: 1;
  color: #344563;
}

.link {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  margin-left: 10px;
  text-decoration: none;
  order: 2;
  color: #7f8cff;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 170.17px;
  flex: none;
  flex-grow: 0;
  list-style: none;
  margin-left: -25px;
  gap: 8px;
  order: 3;
}

.twitter :hover {
  color: #505f79;
  opacity: 0.5;
}

.linkedin :hover {
  color: #505f79;
  opacity: 0.5;
}

.github :hover {
  color: #505f79;
  opacity: 0.5;
}

.medium :hover {
  color: #505f79;
  opacity: 0.5;
}

.angellist :hover {
  color: #505f79;
  opacity: 0.5;
}

/* -------------cards-------------- */

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  width: 23.44rem;
  margin-top: 60px;
}

.Cards {
  display: none;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  width: 20.44rem;
  margin: 70px 24px;
  gap: 12px;
  background-color: #fff;
}

.image {
  width: 18.44rem;
  height: 13.7rem;
}

.title {
  font-family: sans-serif, "Poppins";
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  width: 18.44rem;
  line-height: 44px;
  margin-top: 0;
  color: #172b4d;
}

.frame {
  margin: -30px 0 0 -50px;
  width: 14.75rem;
  padding: 8px;
}

.info {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  width: 18.44rem;
  margin-top: 0%;
}

.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: -20px 0 0 -90px;
  padding: 10px;
  gap: 8px;
}

.Html {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 4px 12px;
}

#Html {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03rem;
  line-height: 16px;
  color: #6070ff;
}

.Css {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  background-color: #ebebff;
  padding: 4px 12px;
}

#Css {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03rem;
  color: #6070ff;
}

.Js {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

#Js {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03rem;
  color: #6070ff;
}

.button {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  bottom: 10px;
  margin-left: -170px;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03rem;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  color: #396df2;
  width: 50%;
}

.button:hover {
  color: #fff;
  background-color: #6070ff;
}

.button:active {
  color: #fff;
  background-color: #2230d2;
}

/* -------------about me------------------ */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-top-right-radius: 50px;
  width: 100%;
  height: 79.95rem;
  top: 3565px;
  gap: 24px;
}

.About {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  color: #172b4d;
  width: 20.44rem;
}

.text-2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 20.44rem;
  margin-top: 0;
  color: #344563;
}

.link-2 {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  margin: auto;
  text-decoration: none;
  color: #7f8cff;
}

.icons-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  list-style: none;
  margin: 20px 0 0 -35px;
}

.Button {
  display: flex;
  align-items: center;
  background-color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  width: 138px;
  color: #396df2;
  cursor: pointer;
  margin-top: 30px;
}

.Button:hover {
  color: #fff;
  background-color: #6070ff;
  border: 1px solid #6070ff;
}

.Button:active {
  color: #fff;
  background-color: #2230d2;
  border: 1px solid #6070ff;
}

#resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #6070ff;
  padding: 12px;
  margin-left: 0;
  gap: 10px;
  width: 10.3rem;
}

/* ------------languages----------- */

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20.4rem;
  height: 29rem;
  gap: 12px;
  margin-top: 50px;
}

.lang {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px;
  margin-left: -220px;
  color: #000;
}

.down {
  position: absolute;
  width: 0.87rem;
  left: 300px;
  margin-top: 30px;
  color: #5e6c84;
}

.js-frame {
  width: 18.9rem;
  height: 4.16rem;
  margin: -10px auto auto -20px;
  list-style: none;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.js-logo,
.html-logo,
.css-logo {
  margin: 8px;
}

.js-txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin: -45px auto auto 65px;
  color: #253858;
}

.html-txt {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  margin: -45px auto auto 65px;
  color: #253858;
}

.html-frame {
  width: 18.9rem;
  height: 4.16rem;
  margin: 12px auto auto -20px;
  list-style: none;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.css-txt {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: -45px auto auto 65px;
  color: #253858;
}

.css-frame {
  width: 18.9rem;
  height: 4.16rem;
  margin: 12px auto auto -20px;
  list-style: none;
  border-radius: 8px;
  background-color: #f7f7f9;
}

.framewrk {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 20.4rem;
}

.frmwk-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  list-style: none;
  margin: 12px auto auto -20px;
  color: #000;
}

.arrow {
  margin: 50px auto auto 160px;
}

.separator {
  list-style: none;
  color: #dfe1e6;
  margin: 80px auto auto -350px;
}

.SkillS {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 20.4rem;
  margin-top: 10px;
}

.skill-txt {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  list-style: none;
  margin: -25px auto auto -20px;
  color: #000;
}

.arrow2 {
  margin: 10px auto auto 230px;
}

.separator2 {
  list-style: none;
  color: #dfe1e6;
  margin: 40px auto auto -350px;
}

.Skill-list {
  display: none;
}

/* -----------contact form--------- */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 4800px;
  height: 48.68rem;
  border-top-left-radius: 50px;
  background-color: #6070ff;
  background-image: url(cntctimg.png);
  background-repeat: no-repeat;
  background-position: right;
  list-style: none;
}

.contact-me {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin: 100px auto auto 80px;
}

.contact-txt {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 20.4rem;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  margin-left: 40px;
  color: #fff;
}

.name {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 3rem;
  width: 18.4rem;
  margin: auto;
  list-style: none;
}

#name {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding-left: 10px;
}

.email {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 3rem;
  width: 18.4rem;
  margin: 35px auto;
  list-style: none;
}

#email {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
  padding-left: 10px;
}

.msg {
  background-color: #fff;
  border-radius: 8px;
  height: 10.6rem;
  width: 18.4rem;
  margin: auto 40px;
  list-style: none;
  color: #b3bac5;
}

#msg {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: black;
  list-style: none;
  padding: 10px 0 0 10px;
}

.gint {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 9.1rem;
  left: 24px;
  border-radius: 8px;
  background-color: #fff;
  margin: 22px auto auto 40px;
  cursor: pointer;
  border: none;
}

.gint:hover {
  color: #fff;
  background-color: #fff;
  border: 1px solid #6070ff;
}

.gint:active {
  color: #fff;
  background-color: #789bf2;
  border: 1px solid #6070ff;
}

#gint {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
}

/* --------------------DESKTOP VERSION--------------------- */

@media (min-width: 768px) {
  * {
    margin: 0%;
    padding: 0%;
  }
@keyframes logo {
    from{margin-left: 20px}
    to{margin-left: 250px}
  }
  .body {
    background: #f4f5f7;
  }

  /* ------------------nav section------------- */

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: #fff;
    width: 100%;
    height: 5rem;
  }

  .logo,
  #logo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10%;
    width: 13.64%;
    color: #6070ff;
    animation: logo 2s ease-in-out 0s  normal none;
  }

  .nav-bar {
    display: none;
  }

  .navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 50%;
    width: 11.8%;
    margin-right: 10em;
  }

  .navlink {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #344563;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-image: url('Images./Header bg.png');
    background-color: #fff;
    background-repeat: no-repeat;
    border-bottom-left-radius: 100px;
    background-size: 100%;
    margin: auto;
  }

  /* ----------------intro section--------------  */

  .greet {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    width: 38%;
    margin-left: 260px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 65%;
    margin-left: 260px;
    color: #344563;
  }

  .link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: -15px 0 0 130px;
    width: 30%;
    color: #7f8cff;
  }

  .icons {
    width: 15%;
    margin: 2em 0 0 15.5em;
  }

  /* --------------CARDS CONTAINER----------------- */
  .cards {
    display: none;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 142px;
    gap: 142px;
    width: 100%;
  }

  .Cards {
    display: flex;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    width: 100%;
  }

  .image {
    width: 50%;
    height: 30%;
    margin: 24px;
    border-radius: 8px;
  }

  .grid2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 60%;
    margin: auto;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
  }

  .frame {
    margin-left: -7px;
    width: 10%;
  }

  .info {
    width: 90%;
    font-size: 16px;
    margin-top: -10px;
  }

  .languages {
    margin-top: -10px;
    margin-left: -10px;
    width: 80%;
  }

  .button {
    margin-left: 0;
    width: 26%;
  }

  .grid1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 50%;
    margin: 2em;
  }

  .image2 {
    width: 40%;
    height: 40%;
    margin: 2em;
    border-radius: 8px;
  }

  .title2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
  }

  .frame2 {
    margin: 0;
    width: 50%;
  }

  .info2 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
    width: 90%;
    margin-top: -15px;
  }

  .languages2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: -20px 0 0 -10px;
    padding: 10px;
    width: 69%;
    height: 1.5rem;
    gap: 8px;
  }

  .ruby {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
  }

  #ruby {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03rem;
    width: 25%;
    color: #6070ff;
  }

  .button2 {
    box-sizing: border-box;
    border: 1px solid #6070ff;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    height: 3rem;
    width: 25%;
    bottom: 10px;
    margin: 0;
    gap: 10px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03rem;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    color: #396df2;
  }

  .button2:hover {
    color: #fff;
    background-color: #6070ff;
  }

  .button2:active {
    color: #fff;
    background-color: #2230d2;
  }

  .frame3 {
    display: flex;
    align-items: baseline;
    gap: 2%;
    width: 50%;
    margin-top: -2em;
  }

  .canopy {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    width: 20%;
    height: 1.5rem;
    color: #344563;
  }

  .round {
    width: 2.5%;
    line-height: 24px;
    color: #c1c7d0;
  }

  .role {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    width: 60%;
    color: #7a869a;
  }

  .round-2 {
    width: 2.5%;
    line-height: 24px;
    color: #c1c7d0;
  }

  .year {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    color: #7a869a;
  }

  .about-container {
    width: 100%;
    border-top-right-radius: 78px;
    background: #fff;
  }

  .block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 18px;
    width: 35%;
    margin-left: -45%;
    margin-top: 142px;
  }

  .About {
    width: 100%;
    margin-top: 0;
  }

  .text-2 {
    width: 100%;
  }

  .link-2 {
    margin-left: 0;
    width: 100%;
  }

  .icons-2 {
    margin: 1em;
    width: 40%;
  }

  #resume {
    margin: 0;
  }

  .skill-list {
    display: none;
  }

  .Skill-list {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: -418px;
    margin-left: 550px;
  }

  .lang {
    margin: 1em;
  }

  .down {
    margin-left: 62em;
    margin-top: 2em;
  }

  .lang-list {
    display: flex;
    gap: 5px;
    width: 100%;
    margin-top: 25px;
  }

  .js-frame {
    width: 20%;
    height: 7.5rem;
    margin: 1em;
  }

  .js-txt {
    margin: 0.5em;
  }

  .html-frame {
    width: 20%;
    height: 7.5em;
    margin: 1em;
  }

  .html-txt {
    margin: 0.5em;
  }

  .css-frame {
    width: 20%;
    height: 7.5em;
    margin: 1em;
  }

  .css-txt {
    margin: 0.5em;
  }

  .framewrk {
    margin: 1em;
  }

  .frmwk-txt {
    margin: 0;
    width: 10%;
  }

  .arrow {
    margin: 0.5em 0 0 31em;
    width: 10%;
  }

  .sep {
    margin: 4em 0 0 -40em;
    width: auto;
  }

  .skill-txt {
    margin: 0 0 0 0.5em;
  }

  .arrow2 {
    margin: 0.5em 0 0 35.9rem;
    width: auto;
  }

  .sep2 {
    margin: 4em 0 0 -40em;
    width: auto;
  }

  /* ----------------contact form------------------ */
  .contact-form {
    position: absolute;
    width: 100%;
    height: 52.87em;
    top: 4170px;
    background: #6070ff;
    border-top-left-radius: 88px;
  }

  .cnct-box {
    width: 90%;
    margin-top: 3.75em;
    background-image: url(Images./cntct.png);
    background-size: 100%;
  }

  .contact-me {
    margin-left: 12.5em;
    width: 50%;
  }

  .contact-txt {
    width: 40%;
    margin: 1em 0 0 19.5em;
  }

  .name,
  .email {
    width: 30%;
    height: 3em;
    margin: 2em 0 0 26em;
  }

  .msg {
    width: 30%;
    margin: 2em 0 0 29.5em;
  }

  .gint {
    margin: 1em 0 0 33em;
    width: 11.5%;
  }
}
